@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  gap: 10px;
}

header {
  border: 1px solid #ccc;
  height: 100vh;
  position: sticky;
  top: 0;
}
nav {
  /* padding: 20px 10px; */
}
nav h1 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: black;
}
nav ul li:hover {
  background: #ccc;
  transition: 0.3s ease-in-out;
}

/* Main Section */

main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
  scroll-margin: 50px;
}

section article {
  max-width: 1200px;
  font-size: 14px;
}
section h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

section article {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section article ul {
  margin-left: 20px;
}
section article ul li {
  margin-bottom: 10px;
}

section article p {
  font-size: 14px;
  line-height: 1.6;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
